@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body
{
  background: rgba(0, 86, 156, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container
{
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: 1200px;
  background: rgb(34, 34, 34);
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .left_Side
{
  position: relative;
  background: rgba(0, 66, 97, 1);
  padding: 40px;
}
.profileText
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(170, 170, 170);
}
.profileText .logoBox
{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profileText .logoBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileText h2
{
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profileText h2 span
{
  font-size: 0.8em;
  font-weight: 300;
}
.title
{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.contactInfo ul
{
  position: relative;
}
.contactInfo ul li
{
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.contactInfo ul li .icon
{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: rgb(73, 173, 255);
}
.contactInfo ul li span
{
  color: #fff;
  font-weight: 300;
}
.education h5
{
  color: rgb(73, 173, 255);
  font-weight: 500;
}
.education h4:nth-child(2)
{
  color: #fff;
  font-weight: 500;
}
.education h4
{
  color: #fff;
  font-weight: 300;
}
.education ul
{
  color: #fff;
}
.language .percent
{
  position: relative;
  width: 100%;
  height: 6px;
  background: #081921;
  display: block;
  margin-top: 5px;
}
.language .text
{
  color: #fff;
}
.language .percent div
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(73, 173, 255);
}
.language ul
{
  color: #fff;
}
.container .right_Side
{
  position: relative;
  background: rgba(24, 26, 27, 1);
  padding: 40px;
}
.about
{
  margin-bottom: 30px;
}
.title2
{
  color: rgba(0, 66, 97, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.about p
{
  color: #fff;
}
.about span
{
  color: #fff;
  letter-spacing: 1px;
}
.about ul
{
  padding-left: 20px;
  color: #fff;
}
.info
{
  padding-bottom: 60px;
  border-bottom: 2px solid rgb(170, 170, 170);
}
.info p
{
  color: #fff;
}
.info span
{
  color: #fff;
}
.info ul
{
  padding-left: 20px;
  color: #fff;
}
.last
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color: #c9c9c9;
  font-size: 20;
}